<h1>ログインページ</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div>
    <%= f.label User.human_attribute_name(:email) %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label User.human_attribute_name(:password) %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "ログイン" id: 'create-session' %>
  </div>
<% end %>