<h1><%= t('.log_in_page') %></h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div>
    <%= f.label :email, t('.email') %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, t('.password') %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit t('.log_in'), id: 'create-session' %>
  </div>
<% end %>