<h1><%= t('.tasks_index_page') %></h1>

<%= form_with(scope: :search, method: :get, local: true) do |form| %>
  <div class="form-inline">
    <%= form.label t('.status') %>
    <%= form.select :status, Task.statuses.keys, include_blank: "" %>
    <%= form.label t('.title') %>
    <%= form.text_field :title %>
    <%= form.label t('.label') %>
    <%= form.select :label_id, Label.pluck(:name, :id), include_blank: "", id: "search_label" %>
  </div>
  <div>
    <%= form.submit t('.search'),id: 'search_task' , class: "btn btn-primary" %>
  </div>
<% end %>

<table class="table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th><%= t('.created_at') %></th>
      <th><%= link_to t('.deadline_on'), sort_deadline_on: true, class: "btn btn-primary" %></th>
      <th><%= link_to t('.priority'), sort_priority: true, class: "btn btn-primary" %></th>
      <th><%= t('.status') %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= task.deadline_on.strftime('%Y/%m/%d') %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= link_to t('.show'), task ,class: 'show-task btn btn-primary' %></td>
        <td><%= link_to t('.edit'), edit_task_path(task),class: 'edit-task btn btn-primary' %></td>
        <td><%= link_to t('.destroy'), task , class: 'destroy-task btn btn-danger', method: :delete, data: { confirm: Task.human_attribute_name(:are_you_sure?) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>