<h1><%= t('.New Task') %></h1>
<% if @task.errors.any? %>
  <div>
    <h2><%= @task.errors.count %>件のエラーが発生しました</h2>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @task, local: true) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control", class: "form-control" %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content , class: "form-control", class: "form-control"  %>
  </div>

  <div>
    <%= form.label :deadline_on %><br>
    <%= form.date_field :deadline_on, class: "form-control" %>
  </div>

  <div>
    <%= form.label :priority %><br>
    <%= form.select :priority, Task.priorities.keys, include_blank: "", class: "form-control" %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Task.statuses.keys, include_blank: "", class: "form-control"  %>
  </div>
  
  <div>
    <%= form.label :label_name %><br>
    
    <%= form.collection_check_boxes(:label_ids, @labels, :id, :name) do |label|%>
      <div class= "form-check form-check-inline">
        <%= label.check_box class: "form-check-input" %>
        <%= label.text %>
      </div>
    <% end %>

    <%# 下記はcollection_check_boxesに変更 %>
    <%# <% @labels.each do |label| %>
      <%#= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id], class: 'check_box label_name' %>
      <%#= label.name %>
    <%# end %>
  </div>

  <div>
    <%= form.submit id: 'create-task', class: "btn btn-primary" %>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>
<% end %>

<%= link_to t('.back'), tasks_path ,id: 'back' %>
