<h1><%= t('.edit_label_page') %></h1>

<%= form_with(model: @label, local: true) do |f| %>
  <% if @label.errors.any? %>
    <div>
      <h2><%= @label.errors.count %>件のエラーが発生しました</h2>
      <ul>
        <% @label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: "btn btn-info" %>
  </div>

<% end %>

<%= link_to t('.back'), labels_path ,id: 'back'%>