<h1><%= t('.labels_index_page') %></h1>
<table class="table-striped">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.tasks_number') %></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= label.label_tasks.count %></td>
        <td><%= link_to t('.edit'), edit_label_path(label),class: 'edit-label', class: "btn btn-primary" %></td>
        <td><%= link_to t('.destroy'), label , class: 'destroy-label', method: :delete, data: { confirm: t('.are_you_sure?') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>