<h1><%= t('.show_page') %></h1>
<p>
  <strong><%= t('.name') %>:</strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t('.email') %>:</strong>
  <%= @user.email %>
</p>

<div>
  <%= link_to t('.edit'), edit_user_path, id: 'edit-user', class: "btn btn-primary" %><br>
  <%= link_to t('.back'), tasks_path, id: 'back' %>
</div>
