<h1><%= t('.Show_user_page') %></h1>
<p>
  <strong><%= t('.name') %>:</strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t('.email') %>:</strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= t('.admin') %>:</strong>
  <% if @user.admin == true  %>
    <%= "あり" %>
  <% else %>
    <%= "なし" %>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th><%= t('.created_at') %></th>
      <th><%= t('.deadline_on') %></th>
      <th><%= t('.priority') %></th>
      <th><%= t('.status') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= task.deadline_on.strftime('%Y/%m/%d') %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('.back'), admin_users_path, id: 'back' %>