<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? && admin_user? %>
      <li><%= link_to User.human_attribute_name(:users_index), admin_users_path , id: "users-index"%></li>
      <li><%= link_to User.human_attribute_name(:add_user), new_admin_user_path , id: "new-user"%></li>
      <li><%= link_to Task.human_attribute_name(:tasks_index_nav), tasks_path , id: "tasks-index"%></li>
      <li><%= link_to Task.human_attribute_name(:new_task_nav), new_task_path , id: "new-task"%></li>
      <li><%= link_to Task.human_attribute_name(:my_account), user_path(current_user.id), id: "my-account" %></li>
      <li><%= link_to Task.human_attribute_name(:sign_out), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
    <% elsif logged_in? %>
      <li><%= link_to Task.human_attribute_name(:tasks_index_nav), tasks_path , id: "tasks-index"%></li>
      <li><%= link_to Task.human_attribute_name(:new_task_nav), new_task_path , id: "new-task"%></li>
      <li><%= link_to Task.human_attribute_name(:my_account), user_path(current_user.id), id: "my-account" %></li>
      <li><%= link_to Task.human_attribute_name(:sign_out), session_path(current_user.id), method: :delete, id: "sign-out" %></li>
    <% else %>
      <li><%= link_to Task.human_attribute_name(:sign_up), new_user_path, id: "sign-up" %></li>
      <li><%= link_to Task.human_attribute_name(:sign_in), new_session_path, id: "sign-in" %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
